
body{
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh; /* Adjust height as needed */
  
  
  
}
.optionsOfCountrey{
  position: absolute;
  left:45vw;
  top:6vw;
  background-color: aqua;
  color: rgb(228, 219, 219);
  font-size: 2vw;
  width: 10vw;
  cursor: pointer;
  opacity: 0.8;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.arabs:hover,.spain:hover,.france:hover,.turks:hover,.germans:hover
,.moors:hover,.byzanties:hover,.russian:hover,.england:hover
,.vikings:hover,.mongols:hover

 {
  background-image: linear-gradient(180deg, rgb(199, 199, 199), rgb(255, 255, 157));/* Example hover background color */
  color: rgb(27, 25, 25);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Example box shadow on hover */
}
.spain {
  background-color: rgb(213, 134, 7);
  
}
.france {
  background-color: rgb(9, 67, 161);
}

.russian {
  background-color: rgb(86, 57, 13);
}

.moors {
  background-color: rgb(85, 208, 194);
}

.arabs {
  background-color: rgb(5, 134, 10);
}

.vikings {
  background-color: rgb(200, 187, 43);
}

.turks {
  background-color: rgb(133, 31, 53);
}
/* Individual country styles */
.byzanties {
  background-color: rgb(153, 5, 186);
}

.germans {
  background-color: rgb(21, 21, 22);
}

.england {
  background-color: rgb(222, 5, 5);
}
.mongols {
  background-color: rgb(126, 124, 78);
}
.music{
  position: absolute;
  left: 3vw;
  top: 2vw;
  filter: grayscale(60%);
  cursor: pointer;
}

.music:hover{
  filter: grayscale(40%);
}
.dificulties{
  width: 30vw;
  height: 3vw;
  top: 40vw;
  position: absolute;
  
  display: flex; /* This makes the container a flex container */
  flex-direction: row; /* This arranges the child divs in a row */
  justify-content: space-around; /* Optional: This evenly distributes the space between the divs */
  align-items: center; /* Optional: This aligns the items vertically centered */
  font-size: 2vw;
  color: rgb(199, 199, 199);
  left: 35vw;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#easy{
  height: 3vw;
  width: 8vw;
  background-color: #99890ec7;
  border-radius: 2vw;
  text-align: center;
  cursor: pointer;
}
#normal{
  height: 3vw;
  width: 8vw;
  background-color: #b63e1ac6;
  border-radius: 2vw;
  text-align: center;
  cursor: pointer;
}
#hard{
  height: 3vw;
  width: 8vw;
  background-color: #ff0101ac;
  border-radius: 2vw;
  text-align: center;
  cursor: pointer;
}
#hard:hover,#normal:hover,#easy:hover{
  background-image: linear-gradient(180deg, rgb(199, 199, 199), rgb(255, 255, 157));/* Example hover background color */
  color: rgb(27, 25, 25);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Example box shadow on hover */
}